body {
    min-height: 100%;
    margin-bottom: 60px;
}

body>.container {
    padding: 80px 15px 0;
}

.cover_image {
    width: 10%;
    height: auto;
}

.main_cover_image {
    width: 100%;
    max-width: 10rem;
    height: auto;
}

/* Trick to make a button inside a media card clickable */
.media-body .btn {
    z-index: 2;
    position: relative;
 }