{% extends "bookpaths_app/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
BookPaths - Explore Books
{% endblock %}

{% block body %}
<div class="row text-center justify-content-center w-100">
    {% if message %}
    <div class="w-75 alert alert-warning">{{ message }}</div>
    {% endif %}
    <div class="w-75">
        <h2>Explore the books that form BookPaths!</h2>
        <a class="btn btn-secondary d-block mb-2 mt-2" data-toggle="collapse" href="#collapseExample" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            Filters & Order
        </a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form method="get" class="mb-2">
                    <div class="well">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-6">
                                {{ filter.form.title.label_tag }}
                                {% render_field filter.form.title class="form-control" %}
                            </div>
                            <div class="form-group col-sm-6 col-md-6">
                                {{ filter.form.author.label_tag }}
                                {% render_field filter.form.author class="form-control" %}
                            </div>
                            <div class="form-group col-sm-12 col-md-12">
                                {{ filter.form.publisher.label_tag }}
                                {% render_field filter.form.publisher class="form-control" %}
                            </div>
                            <div class="form-group col-sm-6 col-md-6">
                                {{ filter.form.number_of_pages.label_tag }}
                                {% render_field filter.form.number_of_pages class="form-control" %}
                            </div>
                            <div class="form-group col-sm-6 col-md-6">
                                {{ filter.form.paths.label_tag }}
                                {% render_field filter.form.paths class="form-control" %}
                            </div>
                            <div class="form-group col-sm-12 col-md-12">
                                {{ filter.form.o.label_tag }}
                                {% render_field filter.form.o class="form-control" %}
                            </div>
                        </div>
                        <button class="btn btn-secondary" type="submit">🔍 Search</button>
                    </div>
                </form>
            </div>
        </div>
        <span class="text-muted">Your search has returned {{ filter.qs | length }} results</span>
        {% for book in filter.qs %}
        <div class="media container position-relative text-left bg-light shadow p-4 rounded mb-3">
            {% if book.cover %}
            <img src="{{ book.cover }}" class="cover_image mr-3">
            {% endif %}
            <div class="media-body">
                <h3>{{ book.title }}</h3>
                <p class="h4 text-muted">{{ book.author }}</p>
                <span class="text-muted d-block">Publisher: {{ book.publishers }}</span>
                <span class="text-muted d-block">Number of pages: {{ book.number_of_pages }}</span>
                <span class="text-muted d-block">Paths: {{ book.paths }}</span>
                <a href="{% url 'book' book_isbn=book.isbn_10 %}" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}