{% extends "bookpaths_app/layout.html" %}
{% load static %}
{% load extra_functions %}

{% block title %}
BookPaths - {{ user.username }}
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

<div class="row text-center justify-content-center w-100">
    {% if message %}
    <div class="w-75 alert alert-warning">{{ message }}</div>
    {% endif %}
    <div class="w-75">
        <h2>Hi, {{user.username}}!</h2>
        <div class="h5 text-muted">
            Welcome back to BookPaths
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#active-content">Active Bookpaths <span class="badge badge-pill badge-secondary">{{active_bookpaths|length}}</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#finished-content">Finished Bookpaths <span class="badge badge-pill badge-secondary">{{finished_bookpaths|length}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#contributions-content">Your Contributions <span class="badge badge-pill badge-secondary">{{contributions|length}}</span></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active show mt-3" id="active-content">
              {% if active_bookpaths %}
                {% for active in active_bookpaths %}
                  <div class="media container position-relative bg-light shadow p-4 rounded mb-3">
                    <div class="media-body">
                        <h4>{{ active.bookpath.name }}</h4>
                        <span class="text-muted d-block">Category: {{ active.bookpath.category }}</span>
                        <span class="text-muted d-block">{{ active.bookpath.description }}</span>
                        <a href="{% url 'bookpath' bookpath_id=active.bookpath.id %}" class="stretched-link"></a>
                        {% if active.status == 0 %}
                        <span class="d-block">Your first reading will be: <span class="font-weight-bold font-italic">{{ active.bookpath.bookpath_steps.all.0.book }}</span></span>
                        <form method="post">
                          {% csrf_token %}
                          <input type="hidden" name="bookpath-follow" value="{{active.id}}">
                          <input type="submit" class="btn btn-success mt-1" name="path_start" value="Start reading"
                          style="width:200px;" />
                        </form>
                        {% elif active.current_step < active.bookpath.bookpath_steps.count%}
                        <span class="d-block">You are on step {{ active.current_step }} of {{ active.bookpath.bookpath_steps.count }}</span>
                        {% with active.current_step|add:-1 as current %}
                        {% with active.bookpath.bookpath_steps.all|return_item:current as current_step_ %}
                          <span class="d-block">You are currently reading: <span class="font-weight-bold font-italic">{{ current_step_.book }}</span></span>
                        {% endwith %}
                        {% endwith %}
                        {% with active.current_step as next %}
                        {% with active.bookpath.bookpath_steps.all|return_item:next as next_step_  %}
                          <span class="d-block">Your next read will be: <span class="font-weight-bold font-italic">{{ next_step_.book }}</span></span>
                        {% endwith %}
                        {% endwith %}
                        <form method="post">
                          {% csrf_token %}
                          <input type="hidden" name="bookpath-follow" value="{{active.id}}">
                          <input type="submit" class="btn btn-primary mt-1" name="path_next" value="Next step"
                          style="width:200px;" />
                        </form>
                        {% else %}
                        <span class="d-block">You are on step {{ active.current_step }} of {{ active.bookpath.bookpath_steps.count }}</span>
                        {% with active.current_step|add:-1 as current %}
                        {% with active.bookpath.bookpath_steps.all|return_item:current as current_step_ %}
                          <span class="d-block">You are currently reading: <span class="font-weight-bold font-italic">{{ current_step_.book }}</span></span>
                        {% endwith %}
                        {% endwith %}
                        <form method="post">
                          {% csrf_token %}
                          <input type="hidden" name="bookpath-follow" value="{{active.id}}">
                          <input type="submit" class="btn btn-success mt-1" name="path_finished" value="I'm done"
                          style="width:200px;" />
                        </form>
                        {% endif %}
                    </div>
                  </div>
                {% endfor %}
              {% else %}
              You do not have active bookpaths. Explore our collection by <a href="{% url 'categories' %}">category</a> or by <a href="#">book</a> and follow your next bookpath
              {% endif %}
            </div>
            <div class="tab-pane fade mt-3" id="finished-content">
              {% if finished_bookpaths %}
                {% for finished in finished_bookpaths %}
                  <div class="media container position-relative bg-light shadow p-4 rounded mb-3">
                    <div class="media-body">
                        <h3>{{ finished.bookpath.name }}</h3>
                        <span class="text-muted d-block">Category: {{ finished.bookpath.category }}</span>
                        <span class="text-muted d-block">{{ finished.bookpath.description }}</span>
                        <a href="{% url 'bookpath' bookpath_id=finished.bookpath.id %}" class="stretched-link"></a>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
              You haven't finished a bookpath yet. Advance with your active bookpaths or explore our collection by <a href="{% url 'categories' %}">category</a> or by <a href="#">book</a> and follow your next bookpath.
              {% endif %}
            </div>
            <div class="tab-pane fade mt-3" id="contributions-content">
              {% if contributions %}
                {% for bookpath_contributed in contributions %}
                  <div class="media container position-relative bg-light shadow p-4 rounded mb-3">
                    <div class="media-body">
                        <h3>{{ bookpath_contributed.name }}</h3>
                        <span class="text-muted d-block">Category: {{ bookpath_contributed.category }}</span>
                        <span class="text-muted d-block">{{ bookpath_contributed.description }}</span>
                        <span class="">Followers: {{ bookpath_contributed.follow_count }}</span>
                        <a href="{% url 'bookpath' bookpath_id=bookpath_contributed.id %}" class="stretched-link"></a>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
              You haven't submitted a bookpath yet. Visit the <a href="{% url 'contribute' %}">contribute</a> section to add your first bookpath
              {% endif %}
            </div>
          </div>
    </div>
</div>


{% endblock %}